/*
st-newsletter Style Sheet - Drew D. Lenhart
*/

body {
	background-color: #494C4D !important;
	color: white !important;
}

td{
	padding: 5px !important;
	color: black !important;
}

.compImg {
    max-width:100%
}

.st_boxes{
	background-color: #E3DEDC;
	padding: 5px;
}

.box_t{
	background-color: #486570;
	padding: 10px;
	color: black;
	font-size: 18px;
}

.box_c{

	border: 2px solid #486570;
	margin-top: 2%;
	
}

.footertxt{
	margin-top: 2%
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
	display: none;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

input-field label {
	color: white;
	font-weight: bold;
}
input[type="text"] {
	background-color: rgba(254,254,254,0.15);
	height: 2rem;
}
