{% extends 'layout.html' %}

{% block content %}
<a class="waves-effect waves-light btn" alt="Edit" href="/" role="button">Signup Page</a>
<!--<a class="waves-effect waves-light btn" alt="Edit" href="/admin/export" role="button">export</a>-->
<a class="waves-effect waves-light btn" alt="Edit" href="/logout" role="button">logout</a>

<div id="process" style="display: none" class="row center">
	<div class="preloader-wrapper active">
		<div class="spinner-layer spinner-red-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div class="box_c z-depth-4"><div class="box_t white-text"><b>Registered Users:</b></div><div class="st_boxes">
<table class="bordered"><thead><tr><td>ID</td><td>Name</td><td>Email</td><td>Join Date</td><td class="center">Action</td></tr></thead>
<tbody>
{% for item in list %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.name }}</td>
		<td>{{ item.email }}</td>
		<td>{{ item.joined }}</td>

		<td class="center">

		<a class="waves-effect red darken-4 btn" onclick="deleteMe('{{ item.id }}')">Remove</a>

		<a class="waves-effect waves-light btn" alt="Edit" href="/admin/edit/{{ item.id }}" role="button">Edit</a> 

		</td>
	</tr>
{% else %}  
	<p style='color: red'>There are currently no people who signed up yet!!</p>
{% endfor %}
</tbody>
</table>

{% if pages > 1 %}
	<ul class="pagination center">
		{% set range = 5 %}

		{% if page != 1 %}
			<li class="waves-effect"><a href="/admin/1">First</a></li>
		{% endif %}

		{% set prev = page - 1 %}

		{% if  page > 1 %}
			<li class="waves-effect"><a href="/admin/{{prev}}"><i class="material-icons">chevron_left</i></a></li>
		{% endif %}

		{% for i in (page - range)..((page + range) + 1) %}

			{% if (i > 0) and (i <= pages) %}
				<li {% if page == i %} class="waves-effect active disabled" {% else %} class="waves-effect" {% endif %}>
					<a href="/admin/{{i}}">{{i}}</a>
				</li>
			{% endif %}

		{% endfor %}

		{% if page != pages %}

			{% set  next = page + 1 %}

			<li class="waves-effect"><a href="/admin/{{next}}"><i class="material-icons">chevron_right</i></a></li>
			<li class="waves-effect"><a href="/admin/{{pages}}">Last</a></li>

		{% endif %}
	</ul>
{% endif %}


</div></div>
<script>
function deleteMe (id) {
	$( "#process" ).show("slow");
	if(confirm('Are you sure you want to delete this Record? This will completely remove the record from the system!')){
		$.post("api/deleteEmail/" + id,
		function(data, status){
			$( "#process" ).hide("slow");
			Materialize.toast('Record ' + id + ' Deleted!', 5000);
			location.reload();
		});
	}else{
		Materialize.toast('Item ' + id + ' NOT delete! Wheeeew!', 5000);
		$( "#process" ).hide("slow");
	}
}
</script>
{% endblock %}